.widget-draggable {
  display: block;
  width: 100%;
  min-height: 100%;
}

.widget-box {
  position: relative;
  min-height: 40px;
  background-color: #f7f7f7;

  &:after {
    content: '把内容拖到这';
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
  }
}
